@inherits DialogBase

<div class="modal @_modalShow" id="resign-dialog" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resign</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to resign?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    @onclick="OnResignAsync">Resign</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    @onclick="() => Close()">No</button>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(_modalShow))
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public EventCallback OnResign { get; set; }

    private async Task OnResignAsync()
    {
        await OnResign.InvokeAsync();
        Close();
    }
}
